header {
  background-color: #faa;
  color: white;
  padding: 16px;
  position: relative;
}

header h2 {
  position: absolute;
  right: 32px;
  top: 32px;
  color: black;
  font-weight: bold;
  font-size: 24px;
}

table td:nth-child(odd) {
  color: #888;
  text-align: right;
  padding-right: 24px !important;
}

table td:nth-child(odd) label {
  color: #000;
  text-align: left;
  width: 100%;
  padding: none !important;
  word-wrap: break-word;
  margin: none !important;
}

td {
  border: none !important;
  padding: 4px !important;
}

tr.sep {
  border-top: 1px solid #888;
}

td.heading {
  text-align: left !important;
  font-weight: bold;
}

.page-keep-together {
  page-break-inside: avoid;
}

.page-break-before {
  page-break-before: always;
}

.page-break-after {
  page-break-after: always;
}